version: "5.0.0"

services:
  resource-service:
    build:
      context: ./services/quarkus/resource-service
      dockerfile: src/main/docker/Dockerfile.jvm
    image: resource-service
    depends_on:
      - resource-db
    environment:
      QUARKUS_DATASOURCE_USERNAME: user
      QUARKUS_DATASOURCE_PASSWORD: pass
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://resource-db:5432/mydb
    ports:
      - "8080:3005"

  resource-db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mydb
    volumes:
      - resource-db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  resource-db-data:
